html,body, div, span, form,iframe,
h1, h2, h3, h4, h5, p, em, img, ol, ul, li {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
html{font-size: 62.5%;}
body {
  font-family: Helvetica, 'STXihei', 'STHeiti Light', 'Microsoft yahei', sans-serif;
  line-height: 1;
  background-color: #fff;
  overflow: hidden;
}


input {
  margin: 0;
  padding: 0;
  /*-webkit-appearance: none;*/
  border-style: none;
}

input {
  outline-style: none;
}

input[type="text"] {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
ol,
ul,
li {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input::-webkit-input-placeholder {
color: #D6D0CA !important; 
}
input:-moz-placeholder {
color: #D6D0CA !important; 
}
input::-moz-placeholder {
color: #D6D0CA !important; 
}
input:-ms-input-placeholder {
color: #D6D0CA !important; 
}
textarea::-webkit-input-placeholder {
color: #000 !important; 
}
textarea:-moz-placeholder {
color: #000 !important; 
}
textarea::-moz-placeholder {
color: #000 !important; 
}
textarea:-ms-input-placeholder {
color: #000 !important; 
}
/*
a:link,
a:visited {
  text-decoration: none;
  color: #555555;
}*/
a {
  display: block;
  text-decoration: none;
}
.clear {
  clear: both;
}
.clearfix:after {
  content: "\0020";
  height: 0;
  display: block;
  clear: both;
  visibility: hidden;
}
.clearfix {
  *zoom: 1;
}

.floatl {
  float: left;
}

.floatr {
  float: right;
}

.shadow {
  -webkit-box-shadow: 1px 0px 3px #d9dbdd;
     -moz-box-shadow: 0px 1px 3px #d9dbdd;
          box-shadow: 0px 1px 3px #d9dbdd;
}

.hidden {
  display: none;
}

.show {
  display: block;
}
.display-flexbox {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;  
}
.flexbox-children {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
}

.scratcher_wrap{
  width: 100%;
  height: 100%;
}

html,body{height: 100%;}
.page{position: relative;display: none;width: 100%;height: 100%;}
.page.show{display: block;}

.loading_img{
  position: absolute;
  margin: 0 0 0 -99999px;}

#page_load{height: 100%;display: block;z-index: 2;}
#page_load > *{display: none;}
#page_load > *.show{display: block;}
.loading{height: 100%;background: #cccccc url(../img/loading.gif) no-repeat center center;}
.scratch{height: 100%;}
/*#page_4_1{display: block;}*/
.need_load{
  position: absolute;
  left: -99999px;
}

.scratcher{
  position: absolute;
  top:0;
  left: 0;
  z-index: 1000;
}
.core .favor_btn{
  position: absolute;
  top: 70px;
  right: 0;
  padding: 2px 8px 2px 36px;
  font-size: 1.4rem;
  line-height: 1.4rem;
  height: 33px;
  color: #fff;
  background:#231f20 url(../img/faw_youhui.png) no-repeat 0 0;
  background-size: 25px 37px;
}

/**
 * Swiper 3.2.0
 * Most modern mobile touch slider and framework with hardware accelerated transitions
 * 
 * http://www.idangero.us/swiper/
 * 
 * Copyright 2015, Vladimir Kharlampidi
 * The iDangero.us
 * http://www.idangero.us/
 * 
 * Licensed under MIT
 * 
 * Released on: November 7, 2015
 */
.swiper-container {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  /* Fix of Webkit flickering */
  z-index: 1;
}
.swiper-container-no-flexbox .swiper-slide {
  float: left;
}
.swiper-container-vertical > .swiper-wrapper {
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
}
.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  -ms-transition-property: -ms-transform;
  transition-property: transform;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.swiper-container-android .swiper-slide,
.swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
  -moz-transform: translate3d(0px, 0, 0);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate3d(0px, 0, 0);
  transform: translate3d(0px, 0, 0);
}
.swiper-container-multirow > .swiper-wrapper {
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.swiper-container-free-mode > .swiper-wrapper {
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -ms-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  margin: 0 auto;
}
.swiper-slide {
  -webkit-flex-shrink: 0;
  -ms-flex: 0 0 auto;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
}
/* a11y */
.swiper-container .swiper-notification {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  opacity: 0;
  z-index: -1000;
}
/* IE10 Windows Phone 8 Fixes */
.swiper-wp8-horizontal {
  -ms-touch-action: pan-y;
  touch-action: pan-y;
}
.swiper-wp8-vertical {
  -ms-touch-action: pan-x;
  touch-action: pan-x;
}

/* Pagination Styles */
.swiper-pagination {
  position: absolute;
  text-align: center;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  z-index: 10;
}
.swiper-pagination.swiper-pagination-hidden {
  opacity: 0;
}
.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  display: inline-block;
  border-radius: 100%;
  background: #000;
  opacity: 0.2;
}
button.swiper-pagination-bullet {
  border: none;
  margin: 0;
  padding: 0;
  box-shadow: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}
.swiper-pagination-clickable .swiper-pagination-bullet {
  cursor: pointer;
}
.swiper-pagination-white .swiper-pagination-bullet {
  background: #fff;
}
.swiper-pagination-bullet-active {
  opacity: 1;
  background: #007aff;
}
.swiper-pagination-white .swiper-pagination-bullet-active {
  background: #fff;
}
.swiper-pagination-black .swiper-pagination-bullet-active {
  background: #000;
}
.swiper-container-vertical > .swiper-pagination {
  right: 10px;
  top: 50%;
  -webkit-transform: translate3d(0px, -50%, 0);
  -moz-transform: translate3d(0px, -50%, 0);
  -o-transform: translate(0px, -50%);
  -ms-transform: translate3d(0px, -50%, 0);
  transform: translate3d(0px, -50%, 0);
}
.swiper-container-vertical > .swiper-pagination .swiper-pagination-bullet {
  margin: 5px 0;
  display: block;
}
.swiper-container-horizontal > .swiper-pagination {
  bottom: 10px;
  left: 0;
  width: 100%;
}
.swiper-container-horizontal > .swiper-pagination .swiper-pagination-bullet {
  margin: 0 5px;
}
/* 3D Container */
.swiper-container-3d {
  -webkit-perspective: 1200px;
  -moz-perspective: 1200px;
  -o-perspective: 1200px;
  perspective: 1200px;
}
.swiper-container-3d .swiper-wrapper,
.swiper-container-3d .swiper-slide,
.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top,
.swiper-container-3d .swiper-slide-shadow-bottom,
.swiper-container-3d .swiper-cube-shadow {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top,
.swiper-container-3d .swiper-slide-shadow-bottom {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10;
}
.swiper-container-3d .swiper-slide-shadow-left {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  /* Safari 4+, Chrome */
  background-image: -webkit-linear-gradient(right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  /* Chrome 10+, Safari 5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  /* Firefox 3.6-15 */
  background-image: -o-linear-gradient(right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  /* Opera 11.10-12.00 */
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  /* Firefox 16+, IE10, Opera 12.50+ */
}
.swiper-container-3d .swiper-slide-shadow-right {
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  /* Safari 4+, Chrome */
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  /* Chrome 10+, Safari 5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  /* Firefox 3.6-15 */
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  /* Opera 11.10-12.00 */
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  /* Firefox 16+, IE10, Opera 12.50+ */
}
.swiper-container-3d .swiper-slide-shadow-top {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  /* Safari 4+, Chrome */
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  /* Chrome 10+, Safari 5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  /* Firefox 3.6-15 */
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  /* Opera 11.10-12.00 */
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  /* Firefox 16+, IE10, Opera 12.50+ */
}
.swiper-container-3d .swiper-slide-shadow-bottom {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  /* Safari 4+, Chrome */
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  /* Chrome 10+, Safari 5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  /* Firefox 3.6-15 */
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  /* Opera 11.10-12.00 */
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  /* Firefox 16+, IE10, Opera 12.50+ */
}
/* Coverflow */
.swiper-container-coverflow .swiper-wrapper {
  /* Windows 8 IE 10 fix */
  -ms-perspective: 1200px;
}
/* Fade */
.swiper-container-fade.swiper-container-free-mode .swiper-slide {
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -ms-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.swiper-container-fade .swiper-slide {
  pointer-events: none;
}
.swiper-container-fade .swiper-slide .swiper-slide {
  pointer-events: none;
}
.swiper-container-fade .swiper-slide-active,
.swiper-container-fade .swiper-slide-active .swiper-slide-active {
  pointer-events: auto;
}
/* Cube */
.swiper-container-cube {
  overflow: visible;
}
.swiper-container-cube .swiper-slide {
  pointer-events: none;
  visibility: hidden;
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.swiper-container-cube.swiper-container-rtl .swiper-slide {
  -webkit-transform-origin: 100% 0;
  -moz-transform-origin: 100% 0;
  -ms-transform-origin: 100% 0;
  transform-origin: 100% 0;
}
.swiper-container-cube .swiper-slide-active,
.swiper-container-cube .swiper-slide-next,
.swiper-container-cube .swiper-slide-prev,
.swiper-container-cube .swiper-slide-next + .swiper-slide {
  pointer-events: auto;
  visibility: visible;
}
.swiper-container-cube .swiper-slide-shadow-top,
.swiper-container-cube .swiper-slide-shadow-bottom,
.swiper-container-cube .swiper-slide-shadow-left,
.swiper-container-cube .swiper-slide-shadow-right {
  z-index: 0;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}
.swiper-container-cube .swiper-cube-shadow {
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.6;
  -webkit-filter: blur(50px);
  filter: blur(50px);
  z-index: 0;
}
/* Scrollbar */
.swiper-scrollbar {
  border-radius: 10px;
  position: relative;
  -ms-touch-action: none;
  background: rgba(0, 0, 0, 0.1);
}
.swiper-container-horizontal > .swiper-scrollbar {
  position: absolute;
  left: 1%;
  bottom: 3px;
  z-index: 50;
  height: 5px;
  width: 98%;
}
.swiper-container-vertical > .swiper-scrollbar {
  position: absolute;
  right: 3px;
  top: 1%;
  z-index: 50;
  width: 5px;
  height: 98%;
}
.swiper-scrollbar-drag {
  height: 100%;
  width: 100%;
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  left: 0;
  top: 0;
}
.swiper-scrollbar-cursor-drag {
  cursor: move;
}
/* Preloader */
.swiper-lazy-preloader {
  width: 42px;
  height: 42px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -21px;
  margin-top: -21px;
  z-index: 10;
  -webkit-transform-origin: 50%;
  -moz-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-animation: swiper-preloader-spin 1s steps(12, end) infinite;
  -moz-animation: swiper-preloader-spin 1s steps(12, end) infinite;
  animation: swiper-preloader-spin 1s steps(12, end) infinite;
}
.swiper-lazy-preloader:after {
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%236c6c6c'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
  background-position: 50%;
  -webkit-background-size: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
}
.swiper-lazy-preloader-white:after {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%23fff'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
}
@-webkit-keyframes swiper-preloader-spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes swiper-preloader-spin {
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes audio_anim {
    0% {
        -webkit-transform: translate(0, 0);
        opacity: 0
    }
    30% {
        -webkit-transform: translate(-20px, -20px);
        opacity: 1
    }
    100% {
        -webkit-transform: translate(-30px, -30px);
        opacity: 0
    }
}

.load_scratch{
  overflow: hidden;
}

.main{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  /*display: none;*/
}

.page1{
  background: url(../img/page_1.jpg) no-repeat center 0;
  background-size: cover;}

.page_1{
  color: #fff;
  font-size: 1.0rem;
  text-align: center;}
  .page_1 img.logo_img{
    width: 79px;
    margin: 25px 0;}
  .page_1 h1{
    font-size: 2.2rem}
  .page_1 h2{
    font-size: 1.6rem;
    margin-top: 10px;}
  .page_1 img.lotus_blossom{
    width: 22px;
    margin: 10px auto;}
  .page_1 p{
    line-height: 18px;}
  .page_1 a.booking_link{
    height: 30px;
    line-height: 30px;
    font-size: 1.2rem;
    color: #12612f;
    border-radius: 30px;
    padding: 0 20px 0 35px;
    margin: 20px auto 0;
    display: inline-block;
    border: 1px solid #00561f;
    background: url(../img/phone_green.png) no-repeat 10px center;
    background-size: 21px 21px;}
  .down_tip{
    width: 35px;
    height: 15px;
    color: #fff;
    font-size: 1.0rem;
    text-align: center;  
    position: fixed;
    bottom: 0;
    left: 50%;
    z-index: 100;
    opacity: 0;
    padding: 0 0 11px;
    margin: 0 0 15px -17px;
    background: url(../img/swipe_arrow.png) no-repeat center bottom;
    background-size: 35px 11px;
    -webkit-animation: ToptoA 1.6s ease-out infinite;
    -moz-animation: ToptoA 1.6s ease-out infinite;
    -o-animation: ToptoA 1.6s ease-out infinite;}
@-webkit-keyframes ToptoA {
    0% {
        -webkit-transform: translate(0, -20px);
        opacity: 0
    }
    20% {
        -webkit-transform: translate(0, -10px);
        opacity: 1
    }
    100% {
        -webkit-transform: translate(0, 0);
        opacity: 0
    }
}

@-moz-keyframes ToptoA {
    0% {
        -moz-transform: translate(0, -20px);
        opacity: 0
    }
    20% {
        -moz-transform: translate(0, -10px);
        opacity: 1
    }
    100% {
        -moz-transform: translate(0, 0);
        opacity: 0
    }
}

@-o-keyframes ToptoA {
    0% {
        -o-transform: translate(0, -20px);
        opacity: 0
    }
    20% {
        -o-transform: translate(0, -10px);
        opacity: 1
    }
    100% {
        -o-transform: translate(0, 0);
        opacity: 0
    }
}

.page2{
  background: #f3f3f3;
  text-align: center;}
  .booking_top{
    width: 48px;
    height: 14px;
    color: #fff;
    font-size: 1.0rem;
    text-align: center;
    padding: 39px 0 0 0;
    box-shadow: -2px 2px 3px #858585;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 3;
    margin: 26px 0 0;
    background: #67bb51 url(../img/phone.png) no-repeat center 7px;
    background-size: 26px 25px;}
  .page2_banner{
    width: 100%;}
  .lotus_blossom_black{
    width: 32px;
    margin: 10px 0 15px;}
  .page2 h1{
    line-height: 22px;
    font-size: 1.8rem;
    color: #535353;
    font-weight: normal;
    padding: 0 0 23px;
    background: url(../img/page_2_line.png) no-repeat center bottom;
    background-size: 257px 13px;}
  .page2 ul{
    width: 265px;
    margin: 3% auto 0;
    text-align: left;}
    .page2 ul li{
      line-height: 1.6rem;
      font-size: 1.2rem;
      padding: 3px 0 0 10px;
      background: url(../img/dot.png) no-repeat 0 5px;
      background-size: 4px 11px;}
  .page3{}
    .grey{
      width: 100%;
      height: 100%;
      line-height: 25px;
      text-align: center;
      color: #fff;
      font-size: 1.4rem;
      top: 0;
      bottom: 0;
      z-index: 999;
      position: absolute;
      background: url(../img/grey.png) repeat 0 0;}
      .grey.none{display: none;}
      .grey span{
        display: inline-block;
        padding-top: 100px;}
      .grey img{
        position: absolute;}
        .grey img.guide_top{
          width: 90px;
          height: 119px;
          top: 0;
          left: 50%;
          margin: 30px 0 0 -45px;}
        .grey img.guide_right{
          width: 95px;
          height: 135px;
          top: 50%;
          right: 0;
          margin: -67px 30px 0 0;}
        .grey img.guide_bottom{
          width: 90px;
          height: 119px;
          bottom: 0;
          left: 50%;
          margin: 0 0 30px -45px;}
        .grey img.guide_left{
          width: 95px;
          height: 135px;
          top: 50%;
          left: 0;
          margin: -67px 0 0 30px;}
        .grey img.grey_arrow{
          width: 81px;
          right: 0;
          margin: 30px 15px 0 0;}
.page3{}
  .page3 .booking_top{margin-top: 135px;}
  .tabs_wrap{
    height: 100%;
    padding: 48px 0 0;
    position: relative;}
    .tabs{
      width: 100%;
      z-index: 3;
      top: 0;
      position: fixed;
      box-shadow: 0 1px 3px #858585;}
      .tabs a{
        line-height: 1.4rem;
        color: #fff;
        font-size: 1.2rem;
        background: #00321e;
        position: relative;
        text-align: center;}
        .tabs a.current{background: #67bb51;}
        .tabs a::before{
          content: '';
          width: 1px;
          height: 30px;
          background: #fff;
          position: absolute;
          left: 0;
          top: 7px;}
        .tabs a.current::before,
        .tabs a.current + a::before,
        .tabs a:first-child::before{display: none;}
        .tabs a.current::after{
          content: '';
          width: 0;
          height: 0;
          top: 0;
          left: 50%;
          z-index: 3;
          margin: 48px 0 0 -6px;
          position: absolute;
          border-width: 8px;
          border-style: solid;
          border-color: #67bb51 transparent transparent transparent;}
        .tabs a span{
          padding: 8px 0 8px 32px;
          display: inline-block;
          background: url(../img/tab_icons.png) no-repeat 0 center;
          background-size: 305px 24px;}
        .tabs a.tab_1 span{background-position: -93px center;}
        .tabs a.tab_2 span{background-position: -184px center;}
        .tabs a.tab_3 span{background-position: -284px center;}
      .swipe_hor_wrap{
        width: 100%;
        height: calc(100% - 44px);
        position: absolute;}
      .tabs_content{
        width: 100%;
        height: 100%;
        display: none;
        margin: 0 0 0 -99999px;
        position: absolute;}
        .tabs_content.show{display: block;}
        .tabs_content.current{margin-left: 0;}
        .tabs_content_core{
          z-index: 2;
          position: relative;}
        .tabs_content_0{text-align: center;}
        .tabs_content img{max-width: 100%;}
        .trip{
          text-align: left;
          display: inline-block;
          padding-top: 5px;}
          .trip li{
            white-space: nowrap;
            padding: 5px 0;}
            .trip li > strong{
              width: 53px;
              height: 33px;
              color: #fff;
              font-size: 1.6rem;
              padding: 20px 0 0;
              float: left;
              margin: -5px 0 5px 0;
              text-align: center;
              display: inline-block;
              background: url(../img/cal_icon.png) no-repeat center center;
              background-size: 53px 53px;}
              .trip li > strong span{
                display: block;
                font-size: 1.0rem}
            .trip li > span{
              width: 60px;
              height: 12px;
              font-size: 1.2rem;
              padding-top: 37px;
              /*margin: 0 1%;*/
              white-space: nowrap;
              text-align: center;
              display: inline-block;
              background: url(../img/trip_icons.png) no-repeat 13px 0;
              background-size: 232px 295px;}
            .trip li > span.long_text{text-indent: -5px;}
            .trip li > span.trip_0_1{background-position: -9999px -9999px;}
            .trip li > span.trip_0_2{background-position: -107px 0;}

            .trip li > span.trip_1_0{background-position: 13px -70px;}
            .trip li > span.trip_1_1{background-position: -54px -70px;}
            .trip li > span.trip_1_2{background-position: -116px -70px;}
            .trip li > span.trip_1_3{background-position: -179px -70px;}

            .trip li > span.trip_2_0{background-position: 13px -133px;}
            .trip li > span.trip_2_1{background-position: -54px -133px;}
            .trip li > span.trip_2_2{background-position: -116px -133px;}

            .trip li > span.trip_3_0{background-position: 13px -198px;}
            .trip li > span.trip_3_1{background-position: -54px -198px;}
            .trip li > span.trip_3_2{background-position: -116px -198px;}
            .trip li > span.trip_3_3{background-position: -179px -198px;}
    .tabs_content{background: #fff;}
      .swipe_hor_wrap .tabs_content:first-child{z-index: 2;}
      .info_item{
        color: #636363;
        padding: 30px 25px;
        position: relative;}
        .info_item_1_1{
          background: url(../img/tab_1_1_bg.png) no-repeat 0 bottom;
          background-size: 205px 236px;}
        .info_item_1_2{
          background: url(../img/tab_1_2_bg.png) no-repeat right bottom;
          background-size: 261px 220px;}
        .info_item_1_3{
          background: url(../img/tab_1_3_bg.png) no-repeat right center;
          background-size: 253px 253px;}
          .info_item img.cloud{position: absolute;}
          .info_item_1_2 img.cloud{
            width: 192px;
            margin: -55px 0 0 -25px;}
          .info_item_1_3 img.cloud{
            width: 141px;
            margin: -55px 0 0 -25px;}
        .info_item h1{
          line-height: 26px;
          font-size: 1.68rem;
          text-align: right;
          font-weight: bold;
          padding: 0 0 5px;
          margin: 0 0 20px;
          background: url(../img/info_item_line.jpg) no-repeat right bottom;
          background-size: 220px 1px;}
        h1.top_h1{
          line-height: 22px;
          font-size: 1.8rem;
          color: #00321e;
          padding: 10px 15px;
          font-weight: bold;}
          .tabs_content_2 .info_item h1{background: none;}
            .tabs_content_2 .info_item h1 span{
              display: block;
              font-weight: normal;
              padding-right: 18px;}
        .info_item_2_0{
          background: url(../img/tab_2_0_bg.png) no-repeat 0 center;
          background-size: 284px 201px;}
        .info_item_2_1{
          background: url(../img/tab_2_1_bg.png) no-repeat 0 center;
          background-size: 274px 267px;}
        .info_item_2_3{
          background: url(../img/tab_2_3_bg.png) no-repeat 0 center;
          background-size: 268px 406px;}
        .info_item_2_4{
          background: url(../img/tab_2_4_bg.png) no-repeat 0 0;
          background-size: 299px 248px;}
          .info_item_2_0 img.cloud{
            width: 107px;
            margin: -50px 0 0 -25px;}
          .info_item_2_1 img.cloud{
            width: 202px;
            top: auto;
            bottom: 0;
            margin: 0 0 -43px -25px;}
          .info_item_2_2 img.cloud{
            width: 84px;
            left: auto;
            right: 0;
            margin: -53px 0 0 0;}
          .info_item_2_4 img.cloud{
            width: 176px;
            left: auto;
            right: 0;
            margin: -83px 0 0 0;}
          .info_item_2_4 img.cloud + img.cloud{
            width: 97px;
            left: 0;
            margin: 20px 0 0 0;}
          .tabs_content_3 .info_item h1{
            font-size: 2.4rem;
            padding: 0;
            margin: 0 0 10px;
            text-align: left;
            background: none;}
            .tabs_content_3 .info_item h1 span{
              color: #fff;
              font-size: 1.2rem;
              padding: 0 10px;
              margin: 10px 0 0;
              display: inline-block;
              font-weight: normal;
              background: #646464;}
        .info_item_3_1{
          background: url(../img/tab_3_1_bg.png) no-repeat right center;
          background-size: 310px 198px;}
        .info_item_3_2{
          background: url(../img/tab_3_2_bg.png) no-repeat right bottom;
          background-size: 182px 106px;}
        .info_item_3_3{
          background: url(../img/tab_3_3_bg_0.jpg) no-repeat right 0, url(../img/tab_3_3_bg_1.jpg) no-repeat right bottom;
          /*background-size: 182px 106px;*/}
        .info_item p{
          line-height: 22px;
          font-size: 1.4rem}
  .page4 .booking_top{margin-top: 40px;}
  .top_title{
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #fff;
    color: #535353;
    font-size: 1.8rem;
    position: relative;
    z-index: 2;
    box-shadow: 5px 0 10px #cdcdcd;}
    .grey_wrap{
      overflow: hidden;
      background: #f6f6f6;}
      .green_h2{
        padding: 0.8rem 0;
        text-align: center;}
        .green_h2 span{
          line-height: 2.4rem;
          border-radius: 1.2rem;
          text-align: center;
          color: #fff;
          font-size: 1.4rem;
          padding: 0 15px;
          display: inline-block;
          background: #00321e;}
      .ready_ul{
        width: 300px;
        padding: 0 0 10px;
        margin: 0 auto;}
        .ready_ul li{
          line-height: 1.1rem;
          font-size: 1.0rem;
          padding: 40px 5px 0;
          border-left: 1px solid #d2d2d2;
          /*text-align: justify;*/
          /*text-align-last: justify;*/

          text-align: justify;
          -ms-text-justify: inter-ideograph;
          text-justify: inter-ideograph;
          text-spacing: ideograph-alpha;

          background: url(../img/ready_icons_0.png) no-repeat 0 0;
          background-size: 292px 41px;}
          .ready_ul li:first-child{border-left: none;}
          .ready_ul li.ready_li_0{background-position: 22px 0;}
          .ready_ul li.ready_li_1{background-position: -70px 0;}
          .ready_ul li.ready_li_2{background-position: -158px 0;}
          .ready_ul li.ready_li_3{background-position: -238px 0;}
      .subtitle{
        color: #535353;
        font-size: 1.4rem;
        text-align: center;}
      .not_suitable{
        width: 260px;
        font-size: 1.4rem;
        color: #535353;
        padding: 10px 0;
        margin: 0 auto;}
        .not_suitable li{
          padding: 55px 0 0;
          text-align: center;
          background: url(../img/ready_icons_1.png) no-repeat 9px 0;
          background-size: 264px 49px;}
          .not_suitable li.not_suitable_0{background-position: -63px 0;}
          .not_suitable li.not_suitable_1{background-position: -135px 0;}
          .not_suitable li.not_suitable_3{background-position: -209px 0;}
      .ready_ul_bottom li{
        text-align: center;
        text-align-last: center;
        background: url(../img/ready_icons_2.png) no-repeat 0 0;
        background-size: 212px 39px;}
        .ready_ul_bottom li strong{
          font-size: 1.3rem;
          font-weight: bold;
          display: block;
          padding: 0 0 5px;}
        .ready_ul_bottom li.ready_li_0{background-position: 33px 0;}
        .ready_ul_bottom li.ready_li_1{background-position: -54px 0;}
        .ready_ul_bottom li.ready_li_2{background-position: -143px 0;}
    .down_tip_black{background-image: url(../img/swipe_arrow_black.png);}
.page5{text-align: center;}
  .page5_logo{
    width: 314px;
    display: block;
    margin: 20px auto 30px;}
  .page_5_h1{
    line-height: 35px;
    font-size: 2.0rem;
    color: #535353;
    text-align: center;}
  .page5 .lotus_blossom_black{margin: 15px auto 20px;}
  .page5_top{
      overflow: hidden;
      position: relative;
      box-shadow: 0 0px 10px #ccc;}
  .also_can{
    padding-bottom: 20px;
    background: url(../img/also_can_bg.jpg) repeat 0 0;
    background-size: 14px 11px;}
    .also_h3{
      font-size: 1.6rem;
      color: #535353;
      padding: 20px 0 10px;
      font-weight: bold;}
      .also_h3::before{
        content: '';
        width: 100%;
        height: 0;
        display: block;}
    .also_can a{
      width: 160px;
      line-height: 45px;
      border-radius: 23px;
      margin: 7px 0;
      color: #fff;
      font-size: 1.6rem;
      display: inline-block;
      background: #00321e;}
      .also_can a span{
        display: inline-block;
        padding: 0 0 0 26px;
        background: url(../img/phone_ori.png) no-repeat 0 center;
        background-size: 23px 23px;}
    .also_can > span{
      text-align: center;
      display: inline-block;
      font-size: 1.3rem;
      padding: 6px 65px 6px 0;
      margin: 10px 0 0;
      background: url(../img/pirelli.png) no-repeat right center;
      background-size: 49px 14px;}


/*iPhone 6*/
@media screen and (min-width: 375px) {
  html{font-size: 70%;}
  .booking_top{width: 55px;height: 16px;}
  .trip li{letter-spacing: 8px;padding: 20px 0 0;}
    .trip li > strong{font-size: 1.4rem;letter-spacing: 0;margin-right: 5px;}
      .trip li > strong span{padding-top: 2px;}
    .trip li > span{letter-spacing: 0;}
  .page2 h1{line-height: 26px;}
  .page2 ul{width: 295px;}
  .green_h2{margin: 5px 0;}
  .subtitle{margin: 5px 0;}
  .not_suitable{padding: 10px 0 20px;}
  .ready_ul li{line-height: 1.3rem;font-size: 1.1rem;}
  .info_item p{line-height: 24px;}
  .tabs a{line-height: 1.5rem;}
  h1.top_h1{line-height: 30px;}
  .info_item h1{line-height: 30px;}
  .tabs_wrapper{padding-top: 52px;}
  .tabs a.current::after{margin-top: 51px;}
}
/*iPhone 6 Plus*/
@media screen and (min-width: 414px) {
   10pxhtml{font-size: 80%;}
  .booking_top{width: 60px;height: 16px;}
  .page2 ul{width: 335px;}
    .page2 ul li{margin: 1% 0;}
  .trip li{letter-spacing: 20px;}
    .trip li > strong{font-size: 1.2rem;}
      .trip li > strong span{font-size: 0.9rem;}
    .trip li > span.long_text{text-indent: -13px;}
  .real_ul{width: 360px;}
  .info_item p{line-height: 26px;}
}
.test{
  position: fixed;
  left: 0;
  top: 0;
  background: red;
  z-index: 999;}



























